body {
    background-image: url('./img/mystery-shack-sunny-forest-gravity-falls-moewalls-com.gif');
}

.Home {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid rgba(86, 86, 86, 0.6);
    backdrop-filter: blur(8px);
    background-image: url('./img/imagem-home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.4s;
    font-size: 25px;
    font-family: Georgia, serif;
    color: black;
    border-image: fill 0 linear-gradient(to top,rgba(194, 156, 84, 0.781),rgba(194, 156, 84, 0));
}

.Home:hover{
    transition: 0.4s;
}

.disfarce-da-estrutura {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.352);
}