body {
    background-image: url('./img/mystery-shack-sunny-forest-gravity-falls-moewalls-com.gif');
}

.perfil {
    overflow: hidden;
    width: 40%;
    height: 97%;
    flex-direction: column;
    border-radius: 30px;
    border: 1px solid rgb(194, 156, 84);
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.307);
    transition: 0.4s;
    font-family: Chalkduster, fantasy;
    color: rgb(194, 156, 84);
}

.primeira-parte-da-area-de-perfil {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid rgb(194, 156, 84);
}

.nome {
    font-size: 25px;
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}

.verificado {
    width: 25px;
    height: 25px;
}

.segunda-parte-da-area-de-perfil {
    height: 40%;
    width: 100%;
}

.representando-o-que-e-a-informaca-abaixo{
    width: 100%;
    height: 7%;
    font-size: 20px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.email{
    width: 100%;
    height: 7%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moedas {
    font-size: 22px;
    display: flex;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
}

.gif{
    width: 100px;
    height: 100px;
}

.ultima-parte-da-area-de-perfil{
    background-image: url('./img/bill-modo-pedra.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 135px;
    color: black;
}

.developed{
    width: 150px;
    height: 100px;
    transition: 0.3s;
    border-radius: 10px;
}

.developed:hover{
    transform: scale(1.2);
    transition: 0.3s;
    background-color: rgb(194, 156, 84);
}

.disfarce-da-estrutura {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.352);
}