body {
    background-image: url('../css/img/mystery-shack-sunny-forest-gravity-falls-moewalls-com.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

#game-area {
    background-color: rgba(0, 0, 0, 0.152);
    backdrop-filter: blur(8px);
    width: 600px;
    border-radius: 10px;
    height: 600px;
    border: 2px solid #000;
}

#snake {
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: url('../css/img/mabel-png.jpg');
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

#Coin {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url('../css/img/wired-lineal-290-coin.gif');
    background-size: cover;
}
